html{
	width: 100%;
	font-family: "Segoe UI";
	font-size:12px;
}
	
body{
	width: 100%;
	background-color: white;
}

/*ПОИСК и РЕГИСТРАЦИЯ*/

.regist a{
	text-decoration: none;
	color: grey;
	font-size: 18px;
	padding: 20px;
}

.regist{
	align-self: center;
}

.search{
	
	margin: 5px 50px 5px 0px;
    display: flex;
    flex-direction: row;
}

.search form {
  	position: relative;
  	width: 300px;
  	margin: 0 auto;
  	height: 42px;
  	margin-right: 0px;
}

.search input {
  	height: 42px;
  	width: 0;
  	padding: 0 42px 0 15px;
  	border: none;
  	border-bottom: 2px solid transparent;
  	outline: none;
  	background: transparent;
  	position: absolute;
  	top: 0;
  	right: 0;
  	z-index: 2;
}

.search input:focus {
  	width: 200px;
  	z-index: 1;
  	border-bottom: 2px solid #dadada;
}

button {
  	background: white;
  	border: none;
  	height: 42px;
  	width: 42px;
  	position: absolute;
  	top: 0;
  	right: 0;
  	cursor: pointer;
}

button:before {
  	content: "\f002";
  	font-family: FontAwesome;
  	font-size: 20px;
  	color: #9e9e9e;
}

/*ХЕДЕР*/

#head{
	width: 100%;
	/*height: 130px;*/
	background-color: #eeeeee;
	/*box-shadow: 0px 2px 11px 0px rgba(61,60,61,1);
	box-shadow: 0px 2px 11px 0px rgba(61,60,61,1);
	box-shadow: inset 1px 0px 6px 0px rgb(77, 77, 77);*/
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	/*position: absolute;*/
	z-index: 100;
	}

.image{
	padding-left: 30px;
}

nav{
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 80%;
}

h1{
	font-size: 32px;
	color: black;
	font-weight: 600;
	text-align: center;
	padding: 15px 10px 10px 10px;
	letter-spacing:15px;
}

.topmenu a{
	text-decoration: none;
	color:#696969;
	font-size: 20px;
	font-weight: 600;
}

.topmenu a:hover, .search a:hover{
	color: #e73db6; 
}

.topmenu{
	display: flex;
	justify-content: center;
	position: relative;

}

.topmenu > li{
	padding: 20px 50px 15px 50px;
}

.home{
	color:#cfcfcf;
	font-size: 20px;
	font-weight: 600;
}

.submenu {
	padding: 20px 50px 5px 5px; 
	background-color: #eeeeee;
	text-align: left;
	position: absolute;
 	z-index: 5;
    transform-origin: 0 0;
    transition-duration: 1s;
    transform: scaleY(0);
   }

.submenu > li {
  padding: 20px 0px 20px 0px;
  }

.submenu > li >a{
	font-size: 14px;
}

/*СЛАЙДЕР*/

.slider-wrap{
	width: 100%;
	background-image:linear-gradient(to right bottom, #c4c3c3, #cecbce, #d5d5d5, #dbdbdb, #e1e1e1, #e5e5e5, #e5e4e4, #e7e6e6);
	height: 865px;
	display: flex; 
	position: relative;
	
}

.single-slide{
	width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.image_line{
	border: 1px solid white;
	width: 80%;
	align-self: center;
}

.image_line2{
	border: 1px solid white;
}

#left-button, #right-button{
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	color: grey;
	font-size: 30px;
	cursor:pointer;
}

#left-button{
	left:0;
}

#right-button{
	right:0;
}

.dots-block{
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}

.dots-item{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
}

.active{
	background-color: grey;
}

/*.single-slide{
	width: 100%;
	height: 100%;
	width: 100%;
    display: inline-flex;
    justify-content: space-around;
    position: absolute;
    opacity: 0;
    animation: slider-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-size: cover;
}

#slide-1{
	display: inline-flex;
}

#slide-2 {
	animation-delay: 5s;
}

@keyframes slider-animation{
    
0% {
    opacity: 0;
}
6% {
    opacity: 1;
}
24% {
    opacity: 1;
}
30% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
*/
.slogan{
	font-style:italic;
	font-size: 30px;
	padding: 30px 0px 30px 0px;
	text-align: center;
	color: #696969;
	line-height: 1.2;
}

.text{
	align-self: center;
}

.text2{
	align-self: flex-end;
}

.girl1{
	overflow: hidden;
	
}

.girl2{
	/*overflow: hidden;*/
	/*align-self: flex-end;*/
}

.ampoule{
	padding-top: 50px;
	text-align: center;
}

.natural{
	width: 100%;
	height: 865px;
	background-image: url(../images/1.jpg);
	background-size:cover;
}

.rna{
	width: 100%;
	height: 865px;
	background-image: url(../images/2.jpg);
	background-size:cover;
}

/*КОНТЕНТ*/

.pinkTotal{
	margin: auto;
	width: 90%;
	height: auto;
	display: flex; 
	flex-direction: row;
	margin-top: 30px;
	justify-content: center;
}

.pink{
	display: flex;
	width: 60%;
	background-color: #f8a8e1;
	flex-direction: column;
}

.pinkPicture{
	display: flex;
	background-image : url(../images/pinkPicture_hover.png);
	width: 370px;
	background-size: cover;
	height: 323px;
}


.yellowTotal{
	margin: auto;
	width: 90%;
	height: auto;
	display: flex; 
	flex-direction: row;
	margin-top: 30px;
	justify-content: center;
}

.yellow{
	display: flex;
	width: 60%;
	background-color: #ffcc66;
	flex-direction: column;
}

.yellowPicture{
	display: flex;
	background-image : url(../images/yellowPicture_hover.png);
	width: 370px;
	background-size: cover;
	height: 323px;
}

.greenTotal{
	margin: auto;
	width: 90%;
	height: auto;
	display: flex; 
	flex-direction: row;
	margin-top: 30px;
	justify-content: center;
}

.green{
	display: flex;
	width: 60%;
	background-color: #ccff33;
	flex-direction: column;
}

.greenPicture{
	display: flex;
	background-image : url(../images/greenPicture_hover.png);
	width: 369px;
	background-size: cover;
	height: 352px;
}

.violetTotal{
	margin: auto;
	width: 90%;
	display: flex; 
	flex-direction: row;
	margin-top: 30px;
	justify-content: center;
}

.violet{
	display: flex;
	width: 60%;
	background-color: #9999ff;
	flex-direction: column;
}

.violetPicture{
	display: flex;
	background-image : url(../images/violetPicture_hover.png);
	width: 369px;
	background-size: cover;
	height: 352px;
}

.pink h2, .green h2, .yellow h2, .violet h2{
	font-size: 28px;
	font-weight: bold;
	padding: 40px 0px 0px 40px;
}

.pink p, .green p, .yellow p, .violet p{
	font-size: 22px;
	padding: 40px;
	line-height: 1.5;
}

.main a{
	text-decoration: none;
	color: black;
	font-size: 22px;
	color: white;
	text-align: center;
	background-color: #a4a4a4;
	border: 1px solid #eeeeee;
	padding: 15px;
	align-self: flex-end;
	margin: 0px 20px 20px 10px;
}

.pink a:hover,.green a:hover, .yellow a:hover, .violet a:hover{
	background-color: white;
	border: 1px solid #a4a4a4;
	color: black;
}

/*ФУТЕР*/

.footer1{
	width: 100%;
	margin-top: 50px;
	background-color:#eeeeee;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-bottom: 20px;
}

.foot1 a{
	text-decoration: none;
	color: black;
}

.stay{
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0px 20px 0px;
}

.in-BEAUTY{
	font-size: 16px;
	padding:20px 0px 20px 0px;
}

.adress, .foot1 li{
	font-size: 14px;
	line-height: 1.2;
}

.footerForm{
	padding-top: 20px;
}

.footerForm form{
	font-style: italic;
	font-size: 12px;
	padding-bottom: 20px;
}

[type="email"]{
	width: 300px;
}

.subscribe{
	display: flex;
}

.socImage{
	text-align: center;
}

.socImage img{
	padding: 10px;
}

.footer2{
	text-align: center;
}

.footerList	li:hover{
	font-weight: bold;
	list-style-image: url(../images/marker.jpg);
}
/*МЕДИА ЗАПРОСЫ*/

@media (max-width: 1765px)
{
	.topmenu a, .home{
	font-weight: 400;
	font-size: 18px;
}

	h1{
	font-size: 28px;
	}
}


@media (max-width: 1620px)
{
	.topmenu a, .home{
	font-weight: 400;
	font-size: 16px;
	}
	
	h1{
		font-size: 22px;
	}

	.topmenu li{
	padding: 20px 45px 20px 45px;
	}
}

@media (max-width: 1450px){

	.image {
	width: 100%;
	text-align: center;
	}

	nav{
	width: 100%;
	text-align: center;
	}

	.pinkPicture, .yellowPicture, .greenPicture, .violetPicture{
	display: none;
	}

	.pink, .yellow, .green, .violet{
	width: 100%;
	}
}


@media (max-width: 1200px){
	
	.topmenu{
	flex-direction: column;
	}

	.topmenu li{
	padding: 10px;
	}

	.ampoule{
	display: none;
	}

	.slogan{
	font-size: 26px;
	}
}

@media (max-width: 1100px){

	.slider-wrap{
		overflow: hidden;
	}
	
	.text2{
		margin-left: -90px;
	}

	.text{
		margin-left: 50px;
	}

	.slogan{
		font-size: 24px;
	}

	.pink p, .green p, .yellow p, .violet p{
	font-size: 20px;
	}

	h1{
		line-height: 1.5;
	}
}

